# Ignore Google Drive Sync files
.tmp.*

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter
.ipynb_checkpoints/

*.pem


# Node.js
node_modules
.env

# Journal (local only, not committed)
journal/
